/* .body{
  background-color: #f3f3f9;
} */

.App {
  text-align: center;
  margin-top: 50px;
  
}

.license-item{
  margin-right: 40px;
}

.license-items{

}

.license-form input {
  margin-bottom: 10px;
  padding: 5px;
  border:  solid white;
  border-radius: 8px;
  margin-left: 40px;

}

.license-form button {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 60px;
  color: white;
  background-color: #0ab39c;
  padding: 7px;
  border: #0ab39c;
  border-radius: 8px;
}

.license-list {

  margin-left: 250px;
  margin-right: 250px;
}

.expired-license{
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

.license-list ul {
  list-style: none;
  padding: 0;
}

.license-list li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.license-list button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.status{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.buttonss{
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  background-color: #0ab39c;
  padding: 7px;
  border: #0ab39c;
  border-radius: 8px;
}

.list{
  margin-left: 210px;
  margin-top: 10px;
  margin-right: 210px;
}

